<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" th:href="@{/images/css/Estilos.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<!--navbar-->
<div class="navbar">
    <img th:src="@{/images/logoEmpresa.png}" width="60px" height="50px">
    <div class="busqueda"><form class="form-inline" th:action="@{/home/Busqueda}" method="post">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="text">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Search</button>
    </form></div>
    <a th:href="@{/home}">Inicio <i class="fa-solid fa-house"></i></a>
    <a th:href="@{/home/verProductos}">Productos <i class="fa-solid fa-shop"></i></a>
    <a th:href="@{/home/verCart}">Ver Carrito <i class="fa-solid fa-cart-shopping"></i></a>
    <a th:href="@{/home/verFacturas}">Ver Facturas <i class="fa-solid fa-file-lines"></i></a>
    <a th:href="@{/home/cerrarsession}" th:id="logoutLink" href="#">Logout <i class="fa-solid fa-right-to-bracket"></i></a>
</div>

<div class="contenido" style="display: flex; flex-direction: column; gap: 20px;">
    <!--informacion del usuario-->
    <div class="info-user-cart">
        <h5>Información del usuario</h5>
        <label th:text="'Usuario: '+${datos.cliente.nombre}"></label>
        <label th:text="'Email: '+${datos.email}"></label>
        <label th:text="'Direccion: '+${datos.cliente.direccion}"></label>
    </div>

    <!--subtotal-->
    <div class="subtotal" style="position: relative; left: 35%;">
        <h5>Subtotal:</h5>
        <label th:text="'S/ '+${factura.total}"></label>
        <a href="https://wa.me/51950389633?text=Hola%20quiero%20que%20confirmen%20mi%20compra%20con%20este%20comprobante" style="font-size: 20px;" class="btn btn-success" target="_blank">Mostrar comprobante <i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <div class="img-qr">
        <div class="yape">
         <img th:src="@{/images/qr-yape.jpg}" width="313px" height="500px">

        </div>
        <div class="plin">
            <img th:src="@{/images/qr-plin.jpg}" width="313px" height="500px">
        </div>
    </div>

</div>
<script th:src="@{/images/js/alertSession.js}"></script>
</body>
</html>